.landing {
  text-align: center;
}

.hero {
  height: 80vh;
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  border: none;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.btn.outline {
  background: transparent;
  border: 2px solid white;
  color: white;
}